

.swiper{
    height: 490px;
    .el-carousel{
        overflow: hidden;
        height: 490px;

        .el-carousel__container{
            height: 490px;

            .el-carousel__item{
                height: 490px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            button{
                margin-top: 140px;
            }
        }
       
    }
    
}









